beautifulsoup4==4.6.0
elasticsearch==6.2.0
pandas==0.23.0
requests==2.20.0
selenium=3.14.0=py37hfa6e2cd_0
cachetools==2.1.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
httplib2==0.11.3
lunardate==0.1.5
pycalverter==1.6.1
rsa==4.0
uritemplate==3.0.0
